pre{
  color: white;
  white-space: pre-wrap;
}

@media (min-width: 961px){

  .client-window{

    width: 50%;
    height: 50%;
    border: 1px solid;
  }

  .display-console-border{

    height: 66%;
  }

  .control-console-border{

    height: 34%;
    padding: 0px 15px 15px 15px;
  }

  .display-console{

    box-sizing: border-box;
    border: 1px solid;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
  }

  .control-console{

    box-sizing: border-box;
    height: 100%;
  }

  .capsules-div{

    box-sizing: border-box;
    border: 1px solid;
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .control-console-container{

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .landing-pad-div{

    box-sizing: border-box;
    border: 1px solid;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .landing-pad-input{

    box-sizing: border-box;
    width: 15ch;
    margin-right: 20px;
  }
}

@media (max-width: 961px){

  .client-window{

    margin: 20px;
    width: 100%;
    height: 100%;
  }

  .display-console-border{

    display: inline-block;
    vertical-align: top;
    width: 66%;
    height: 100%;
  }

  .control-console-border{

    display: inline-block;
    vertical-align: top;
    width: 34%;
    padding: 15px 15px 15px 0px;
    height: 100%;
  }

  .display-console{

    box-sizing: border-box;
    border: 1px solid;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
  }

  .control-console{

    box-sizing: border-box;
    height: 100%;
  }

  .capsules-div{

    box-sizing: border-box;
    border: 1px solid;
    height: 25%;
    width: 100%;
  }

  .control-console-container{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .landing-pad-div{

    box-sizing: border-box;
    border: 1px solid;
    width: 100%;
    height: 50%;
  }

  .landing-pad-input{

    box-sizing: border-box;
    max-width: 15ch;
    margin-bottom: 60px;
  }
}
    
.display-console-border{

  box-sizing: border-box;
  padding: 15px;
}

.control-concole-border{

  box-sizing: border-box;
}